/* Write your code here. */
.list-items-container {
  border: 1px solid #e4e7eb;
  width: 85%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.button {
  background-color: transparent;
  border-width: 0px;
  margin-right: 10px;
}
.heading-para{
  display: flex;
  flex-direction: column;
}